
body {
  padding: 0;
}

md-option{
  height: 18px;
}

md-optgroup label {
  padding: 1% 0% 0% 1% !important;
  font-weight: bold !important;
  /*color: rgba(0,0,0,0.7) !important;*/
}

md-sidenav > .md-subheader {
  width: 100%;
}


md-tabs md-ink-bar {
  color: green;
  background: green;
}
/*
md-content {
    overflow: inherit;
}*/

/*Caso de mudanca de cor nos pontos*/

#formSide > md-select{
  padding: 5% 0% 5% 0%;
}

.md-select-label {
  width: 100% !important;
}

#selectMin > md-select{
  max-width: 10em;
}

#map{
  height: 700px;
}

#carregar {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0,0,0,.4);
  z-index: 1001;
}

#carregarText{
  position: absolute;
  color: lightgray;
  top: 50%;
}

#progressCarregar{
  position: absolute;
  top: 45%;
}

#chart > .panel-danger{
  border-color: rgba(63,81,181,.4);
}

.leaflet-popup-content{
  max-height: 20em; 
  overflow-y: auto; 
}

#choroMap {
  height: 470px;
}

.panel-danger > .panel-heading {
  color: white;
  background-color: rgb(63,81,181);
  /*color: #9d9d9d;*/
  /*background-color: #222;*/
}

.modal-dialog{
  max-width: 350px;
  /*margin-top: 5%;*/
  margin: 5% auto !important; 
}

.legend{
  max-width: 30em;
  min-width: 20em;
  max-height: 20em;
  overflow: auto;
  color: rgba(0,0,0,0.7);
  border: 1px solid #ccc;
}

.navbar{
  margin-bottom: 0 !important;
  border-radius: 0 !important;
  margin: auto;
  border: 0 !important;
}

.navbar-brand-img{
    margin-top: -5px;
    color:white;
}

.select-form{
    min-width: 10em;
    max-width: 10.01em;
}

.right{
  float: right !important;
}

.md-sidenav-right {
    overflow-x: visible;
}

.sidenav-toggle-button {
    width: 30px !important;
    z-index:59;
    position: absolute;
    right: 2px;
    top:2px;
    text-transform: inherit !important;
    border-radius: 0.3em;
}

.sidenav-alert-container {
    padding-top: 10px;
    z-index:70;
    position:relative;
    display: block;
    text-align: center;
}

.sidenav-alert {
    display: inline-block;
}

.button-sheet{
  /*height: 1%;*/
  /*margin-top: 8%;*/
  /*height: 2.4em;*/
  width: 3em;
  color: #5cb85c;

}

.button-sheet:hover{
  color: #5EA937;
}

.glyphicon-big{
  font-size: 24px;
  margin: -4px;
}

.md-center-tabs{
  margin: 0 !important;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  display:none; 
}

.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.info.info-show {
  display:inherit;
}

canvas.max-chart {
  max-width: 99%;
}