<div layout="row" layout-sm="column" layout-align="space-around">
	<md-progress-circular
		ng-if='carregar.atividades || carregar.empresas'
    	md-mode="indeterminate"
    	class="md-hue-2" >
	</md-progress-circular>
</div>


<md-content layout="row" resizable ng-style="{height: windowHeight-130}">
	<!--
	<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-scroll-y>
	    <md-content layout-padding>
			<filter></filter>
		</md-content>
	</md-sidenav>
	-->
	<md-content flex class='md-padding' md-scroll-y ng-if="!carregar.atividades">
		<bar-chart data='chart2' name='"Atividades por Categoria"' info='true'></bar-chart>
		<bar-chart data='chart1' name='"Atividades por UF"'></bar-chart>
		<choro geojson='choroData'></choro>
	</md-content>
</md-content>
