<md-content layout="row" resizable ng-style="{height: windowHeight-130}">
<!-- 	<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-scroll-y>
	    <md-content layout-padding> 
			<filter></filter>
		</md-content>
	</md-sidenav> -->
    <div ng-show='carregar.atividades || carregar.empresas'>
    	<md-progress-circular md-mode="indeterminate"  class="md-hue-2" offset='45'></md-progress-circular>
    </div>
	<md-content flex class='md-padding' md-scroll-y ng-show="!carregar.atividades">
		<chart2></chart2>
		<chart1></chart1>
		<choro geojson='choroData'></choro>
	</md-content>
</md-content>