<!-- 
<md-content id='chart'>
	<md-content class="panel panel-danger">
	    <div class="panel-heading text-center" layout="row">
	    	<div class='panel-title' flex> {{name}}</div>
			            
			<a class="export-button" ng-if="export" href="{{export}}" download="{{describe}}">
                <i class="glyphicon glyphicon-save"></i>
                CSV
            </a>
			
	    </div>
        <md-content class="panel-body">
			<canvas
				class="chart-bar" 
				data="data" 
				labels="labels" 
				legend="false" 
				series="series" 
				options='options'
				click='atividadeName'>
			</canvas>
			
			<div ng-if='legend' flex class='text-center'>
				<label>{{legend}}</label>
			</div>	

		</md-content>
	</md-content>
</md-content>
 -->

<md-content layout-padding class='padding' ng-if="data">
	<div class="line">
		<p class="title"><strong>{{name}}</strong></p>
		<a class="export" ng-if='export' href="{{export}}" download="{{describe}}" target="_blank" >
            <i class="glyphicon glyphicon-save"></i>
            <!-- ng-hide="nodata" -->
            CSV
        </a>
	</div>

<!--     <md-content class='panel-body' style="text-align: center">
	
    	<md-content 
    		ng-show="noData" 
    		layout-align="space-around" 
    		flex
    		>

    		<alert type="info">
    		 Não há dados para os filtros selecionados
    		</alert>
    		
		</md-content>
	</md-content> -->
	
	<!-- ng-hide='noData' -->
	<canvas 
		class="chart-bar" 
		data="data" 
		labels="labels" 
		legend="false" 
		series="series" 
		options='options'
		click='atividadeName'>
	</canvas>

	<div ng-if='legend' flex class='text-center'>
		<label>{{legend}}</label>
	</div>	
</md-content>

