
<md-content id='chart'>
	<md-content class="panel panel-danger">
	    <div class="panel-heading text-center" layout="row">
	    	<div class='panel-title' flex> Quantidade de Atividades por UF
	    		<span ng-if='chart2series != null' > - </span>
				{{chart1series[0]}}
    		</div>
            <a class="export-button" ng-if="export.chart1" href="{{export.chart1}}" download="geo-ctf-app-atividades-por-uf.csv">
                <i class="glyphicon glyphicon-save"></i>
                CSV
            </a>
	    </div>
        <md-content class="panel-body">
			
	        <div ng-if='carregar.chart1'>
	        	<md-progress-circular md-mode="indeterminate"  class="md-hue-2" offset='45'></md-progress-circular>
	        </div>
			<canvas ng-if='!carregar.chart1'
				class="chart-bar" 
				data="chart1data" 
				labels="chart1labels" 
				series="chart1series" 
				legend="false" 
				options="options">
			</canvas>			
		</md-content>
	</md-content>
</md-content>
