
<md-content id='chart'>
	<md-content class="panel panel-danger">
	    <div class="panel-heading text-center" layout="row">

	    	<div class='panel-title' flex>Quantidade por Atividade <span ng-if='chart2series != null' > - </span>{{chart2series[0]}}</div>

            <a ng-if="export.chart2" class="export-button"  href="{{export.chart2}}" download="geo-ctf-app-atividades.csv" target="_blank">
                <i class="glyphicon glyphicon-save"></i>
                CSV
            </a>

	    </div>
        <div class="panel-body" >
	        <div ng-if='carregar.chart2'>
	        	<md-progress-circular md-mode="indeterminate"  class="md-hue-2" flex offset='45'></md-progress-circular>
	        </div>
			<canvas ng-if='!carregar.chart2'
				class="chart-bar" 
				data='chart2data' 
				labels="chart2labels" 
				series="chart2series" 
				legend="false" 
				options="options"
				click='atividadeName' 
				>
			</canvas>
			<div ng-if='chart2Legenda != null' flex class='text-center'>
				<!-- <label>Selecionado: </label> -->
				<label>{{chart2Legenda}}</label>
			</div>
		</div>
	</md-content>
</md-content>

					
