
<md-content id='chart'>
	<md-content class="panel panel-danger">
	    <div class="panel-heading text-center" layout='row'>
	    	<!-- <div class='dropdown' ng-if='chart2atividades !=  null' >
				<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
				  	Legenda <small><span class="glyphicon glyphicon-menu-down"></span></small>
			  	</a>
				<div class="legend dropdown-menu" role="menu">
					<li ng-repeat='legenda in chart2atividades'> <b>&nbsp;{{legenda.id}}</b> - {{legenda.nome}}</li>
				</div>
	        </div> -->
	    	<div class='panel-title' flex>Quantidade por Atividade <span ng-if='chart2series != null' > - </span>{{chart2series[0]}}</div>

	    </div>
        <div class="panel-body" >
	        <div ng-if='carregar.chart2'>
	        	<md-progress-circular md-mode="indeterminate"  class="md-hue-2" flex offset='45'></md-progress-circular>
	        </div>
			<canvas ng-if='!carregar.chart2'
				class="chart-bar max-chart" 
				data='chart2data' 
				labels="chart2labels" 
				series="chart2series" 
				legend="false" 
				options="options"
				click='atividadeName' 
				>
			</canvas>
			<div ng-if='legenda.nome != null' flex>
				<!-- <label>Selecionado: </label> -->
				<label>{{legenda.id}} - {{legenda.nome}}</label>
			</div>
		</div>
	</md-content>
</md-content>

					
