
<!-- <md-content id='chart'>
	<md-content class="panel panel-danger" >
	    <div class="panel-heading text-center">
	    	<div class='panel-title' layout="row">

	    		<div class="select-choro" ng-if="filterOptions" layout='row'>
		    		<div ng-repeat="felement in filterOptions.filters" layout="column">
						<md-select ng-model='felement.selected' class="filter-choro-div" flex>
		  					<md-select-label class="filter-choro-label" flex>{{felement.selected || felement.name}}</md-select-label>
							<md-option flex class="filter-choro-option" ng-repeat='filter in felement.values' ng-value='filter'>{{filter}}</md-option>
						</md-select>
					</div>
					<md-button ng-if="filterOptions" class="btn-choro" layout="column" ng-click="filter()"> Filtrar</md-button>
				</div>

				<span layout="column" flex> Mapa Estatístico  </span>
			</div>
	    </div>
        <md-content class="panel-body">

		<div layout="row" layout-sm="column" layout-align="space-around">
			<md-progress-circular
				ng-show='carregar'
		    	md-mode="indeterminate"
		    	class="md-hue-2" >
			</md-progress-circular>
		</div>

        <div class="map" ng-show="choroData && !carregar" map="atividadesMap"></div>

        <choro-legend data="choroData"
                      step-count="choroLegendSteps"
                      ng-if="choroLegendSteps"
                      property="property" ng-show='!carregar'>
		</choro-legend>

		</md-content>
	</md-content>
</md-content>
 -->

<md-content layout-padding ng-show="choroData">
	<div class="line" >
		<p class="title" flex><strong>Mapa Estatístico</strong></p>
	</div>

	<div ng-if="filterOptions" ng-hide='carregar' layout='column' id='filterChoroOver'>
		<div ng-repeat="felement in filterOptions.filters" >
			<md-select ng-model='felement.selected' layout='row' class='filterChoro'>
				<md-select-label>{{felement.selected || felement.name}}</md-select-label>
				<md-option ng-repeat='filter in felement.values' ng-value='filter'>
					{{filter}}
				</md-option>
			</md-select>
		</div>
		<button ng-if="filterOptions" 
			class="btn btn-default"
			id='buttonChoroOver' 
			ng-click="filter()" 
			layout='column'
			> 
			Filtrar
		</button>
	</div>

	<div layout="row" layout-sm="column" layout-align="space-around">
		<md-progress-circular
			ng-show='carregar'
	    	md-mode="indeterminate"
	    	class="md-hue-2" >
		</md-progress-circular>
	</div>

    <div class="map" ng-show="choroData && !carregar" map="atividadesMap"></div>

    <choro-legend 
		ng-if="choroLegendSteps"
    	data="choroData"
    	layout-align='space-around'
		step-count="choroLegendSteps"
		property="property" ng-show='!carregar'>
	</choro-legend>

</md-content>
