<md-content>
	<md-select-group>
		<md-select ng-model='chart.ano' aria-label='chartAno' placeholder='Ano'>
			<md-option ng-repeat='ano in anos' ng-value='ano'>{{ano}}</md-option>
		</md-select>
	</md-select-group>

	<md-select-group layout='row'>
		<md-select 
		ng-model='chart.regiao' 
		aria-label='chartRegiao' 
		placeholder='Região' 
		layout='column' 
		layout-sm='row' 
		ng-change='changeStates(chart.regiao)'
		flex>
			<md-option ng-repeat='regiao in regioes | orderBy: "nome"' ng-value='regiao' >{{regiao.nome}}</md-option>
		</md-select>
		<md-select 
		ng-model='chart.estado' 
		aria-label='chartRegiao' 
		placeholder='Estado' 
		layout='column' 
		layout-sm='row'
		flex>
			<md-option ng-repeat='estado in filterEstados | orderBy: "nome"' ng-value='estado'>{{estado.nome}}</md-option>
		</md-select>
	</md-select-group>

	<md-button 
	layout='row'
	class='md-raised md-primary'
	ng-click='addValues(chart.regiao, "e", chart.estado)' flex>
		<small>adicionar</small>
	</md-button>

	<md-select-group layout='row'>
		<md-select 
		ng-model='chart.categoria' 
		aria-label='chartCategoria' 
		placeholder='Categoria' 
		layout='column' 
		layout-sm='row' 
		flex
		ng-change='listSubcategoria(chart.categoria)'>
			<md-option ng-repeat='categoria in categorias | orderBy: "id"' ng-value='categoria' >{{categoria.id}}-{{categoria.nome}}</md-option>
		</md-select>
		<md-select 
		ng-model='chart.atividade' 
		aria-label='chartAtividade' 
		placeholder='Atividade' 
		layout='column' 
		layout-sm='row' 
		flex>
			<md-option ng-repeat='atividade in atividades | orderBy: "codigo"' ng-value='atividade'>{{atividade.codigo}}-{{atividade.nome}}</md-option>
		</md-select>
	</md-select-group>

	<md-button 
	layout='row'
	class='md-raised md-primary'
	ng-click='addValues(chart.categoria, "a", chart.atividade)' flex>
		<small>adicionar</small>
	</md-button>

	<md-button 
	layout='row'
	class='md-raised md-warn'
	ng-click='solicitar(chart)'>
		Enviar
	</md-button>

	{{req}}
</md-content>

<hr>
<br>
<md-content>
	<label>Estados</label>
	<md-chips ng-model="es" readonly="true">
      <md-chip-template>
        <span>
          <strong>{{$chip.sigla}}</strong>
          <!-- <em>({{$chip.type}})</em> -->
        </span>
      </md-chip-template>
       <md-icon md-svg-icon="md-cancel" md-chip-remove></md-icon>
    </md-chips>

	<label>Categorias:</label>
	<md-chips ng-model="ct" readonly="true">
      <md-chip-template>
        <span>
          <strong>{{$chip.id}}</strong>
          <!-- <em>({{$chip.type}})</em> -->
        </span>
      </md-chip-template>
       <md-icon md-svg-icon="md-cancel" md-chip-remove></md-icon>
    </md-chips>

	<label>Atividades</label>
	<md-chips ng-model="at" readonly="true">
      <md-chip-template>
        <span>
          <strong>{{$chip.categoria}}-</strong>
          <strong>{{$chip.codigo}}</strong>
          <!-- <em>({{$chip.type}})</em> -->
        </span>
      </md-chip-template>
       <md-icon md-svg-icon="md-cancel" md-chip-remove></md-icon>
    </md-chips>

</md-content>