<md-content layout-padding ng-init="totalColumns=30">
	<md-select-group >
		<md-select ng-model='chart.ano' aria-label='chartAno' placeholder='Ano' class='filterButtonYear'>
			<md-option ng-repeat='ano in anos' ng-value='ano' ng-selected="{{$first}}">{{ano}}</md-option>
		</md-select>
	</md-select-group>

	<md-select-group layout='row' layout-sm='column'>
		<md-select 
		class='filterButton'
		ng-model='chart.regiao' 
		aria-label='chartRegiao' 
		placeholder='Região' 
		layout='column' 
		layout-sm='row' 
		ng-change='changeStates(chart.regiao)'
		flex>
			<md-option ng-repeat='regiao in regioes | orderBy: "nome"' ng-value='regiao' >{{regiao.nome}}</md-option>
		</md-select>
		<md-select 
		class='filterButton'
		ng-model='chart.estado' 
		aria-label='chartRegiao' 
		placeholder='Estado' 
		layout='column' 
		layout-sm='row'
		flex>
			<md-option ng-repeat='estado in filterEstados | orderBy: "nome"' ng-value='estado'>{{estado.nome}}</md-option>
		</md-select>
 	</md-select-group>
 	
 	<div layout='row' layout-align='end end'>
 		<button 
		layout-sm='row'
		ng-click='addValues(chart.regiao, "e", chart.estado)' 
		ng-disabled='!chart.regiao'
 		class='btn btn-success'>
 			<span class='glyphicon glyphicon-plus-sign'></span>
 			Adicionar à pesquisa
 		</button>
 	</div>

	<div ng-if='es.length' >
		<label >Estados:</label>
		<md-chips ng-model="es" readonly="true" >
	      <md-chip-template>
	        <span>
	          <strong>{{$chip.sigla}}</strong>
	        </span>
	      </md-chip-template>
	       <md-icon md-svg-icon="md-cancel" md-chip-remove></md-icon>
	    </md-chips>
	</div>

	<md-select-group layout='row'>
		<md-select 
		ng-model='chart.categoria' 
		aria-label='chartCategoria' 
		placeholder='Categoria' 
		layout='column' 
		class='filterButton'
		layout-sm='row' 
		flex
		ng-change='listSubcategoria(chart.categoria)'>
			<md-option ng-repeat='categoria in categorias | orderBy: "id"' ng-value='categoria' >{{categoria.id}}-{{categoria.nome}}</md-option>
		</md-select>
		<md-select 
		ng-model='chart.atividade' 
		aria-label='chartAtividade' 
		placeholder='Atividade' 
		layout='column' 
		layout-sm='row' 
		class='filterButton'
		flex>
			<md-option ng-repeat='atividade in atividades | orderBy: "codigo"' ng-value='atividade'>{{atividade.codigo}}-{{atividade.nome}}</md-option>
		</md-select>
	</md-select-group>

 	<div layout='row' layout-align='end end'>
		<button 
		layout-sm='row'
		ng-click='addValues(chart.categoria, "a", chart.atividade)' 
		ng-disabled='!chart.categoria'
 		class='btn btn-success'>
 			<span class='glyphicon glyphicon-plus-sign'></span>
 			Adicionar à pesquisa
 		</button>
 	</div>


	<div ng-if='ct.length'>
		<label layout='row'>Categorias:</label>
		<md-chips ng-model="ct" readonly="true">
	      <md-chip-template>
	        <span>
	          <strong>{{$chip.id}}</strong>
	        </span>
	      </md-chip-template>
	       <md-icon md-svg-icon="md-cancel" md-chip-remove></md-icon>
	    </md-chips>
	</div>

	<div ng-if='at.length'>
		<label>Atividades:</label>
		<md-chips ng-model="at" readonly="true" disabled>
	      <md-chip-template>
	        <span>
	          <strong>{{$chip.categoria}}-</strong>
	          <strong>{{$chip.codigo}}</strong>
	        </span>
	      </md-chip-template>
	       <md-icon md-svg-icon="md-cancel" md-chip-remove></md-icon>
	    </md-chips>
	</div>
</md-content>

<hr>

<md-content layout-padding >
	<md-input-container ng-show='column'>
	    <!-- <label>Colunas</label> -->
	    <label>Qtde máxima de barras</label>
			<!-- 	    
			<input 
		    required type="number" 
		    ng-model="totalColumns" 
		    min="1" max='200'
		    popover-trigger="mouseenter"
		    popover='"Atividades por categoria"'
		    />
 			-->	    
 		<input
 			layout='row'
		    required 
		    type="number"
		    ng-model="totalColumns" 
		    min="1"
		    max='200'
		    tooltip-popup-delay='250'
		    tooltip='Atividades por Categoria'
		    />
	</md-input-container>

	<button 
		class='btn btn-primary right'
		ng-disabled='loading'
		ng-click="solicitar(es, ct, at, chart.ano, totalColumns)">
			Enviar
	</button>
</md-content>
