



<md-content layout="row" ng-style="{height: windowHeight-130}" id='chartContent'>

	<div layout="row" layout-sm="column" layout-align="space-around" class="centerEl">
		<md-progress-circular
			ng-if='carregar.inscricoes'
	    	md-mode="indeterminate"
	    	class="md-hue-2"
	    	style='z-index: 1000'>	 
	    	<i>Carregando informações</i>   	
		</md-progress-circular>
	</div>
	<md-content flex class='md-padding' md-scroll-y ng-if="!carregar.inscricoes">
		<last-params 
			ng-show="{{lastParams.Ano}}"
			ufs="{{lastParams.Estados}}" 
			year="{{lastParams.Ano}}" 
			categories="{{lastParams.Categorias}}" 
			activities="{{lastParams.Atividades}}">
		</last-params>

		<bar-chart data='chart5' name='"Pessoas Jurídicas inscritas por UF (em "' selectedata='{{chart.ano}}' help="inscricaoAnoAtual"></bar-chart>
		<bar-chart data='chart6' name='"Pessoas Jurídicas inscritas por UF (até "' selectedata='{{chart.ano}}' help="inscricaoAnoTotal"></bar-chart>
		<line-chart data='chart7' name='"Total de Pessoas Jurídicas inscritas (Série Histórica)"' help="inscricaoSerie"></line-chart>
	</md-content>
</md-content>
