<!-- 
<div class='container panel panel-default'>
  <div class='quick quick-btn' id='quick1'>
    <a ng-repeat='ufs in ufs' class='item' ng-click='changeClass(this)'>
      <img id='{{ufs.name}}' href='#' ng-src='{{ufs.image}}' value='{{ufs.name}}'>
      <span class=''>{{ufs.subtitle}}</span>
    </a>
  </div>
</div>
-->


<md-content class='md-padding' flex layout="column">
	<form ng-submit='request(chart)' class="md-padding text-center" name='filtro' id='selectMin'>

		<!-- Select de anos -->
		<md-select name='year' ng-model='chart.ano' placeholder='Ano' class='md-padding' required >
			<md-option ng-repeat='ano in anos'>{{ano}}</md-option>
		</md-select>

		<!-- Select de estados separado por regiões, e possibilidade de seleção para o país inteiro -->
<!-- 		<md-select ng-model="chart.estado" placeholder="Estado" class='md-padding' required>
		    <md-optgroup >
		    	<md-option ng-value='estado.name' ng-repeat="estado in estados | filter: {regiao: 'brasil' }">{{estado.name}}</md-option>
		    </md-optgroup>
		    <md-optgroup label="Norte">
				<md-option ng-value="estado" ng-repeat="estado in estados | filter: {regiao: 'norte' }">{{estado.name}}</md-option>
		    </md-optgroup>
		    <md-optgroup label="Nordeste">
				<md-option ng-value="estado" ng-repeat="estado in estados | filter: {regiao: 'nordeste' }">{{estado.name}}</md-option>
		    </md-optgroup>    
		    <md-optgroup label="Centro-Oeste">
				<md-option ng-value="estado" ng-repeat="estado in estados | filter: {regiao: 'centro' }">{{estado.name}}</md-option>
		    </md-optgroup>    
		    <md-optgroup label="Sudeste">
				<md-option ng-value="estado" ng-repeat="estado in estados | filter: {regiao: 'sudeste' }">{{estado.name}}</md-option>
		    </md-optgroup>
		    <md-optgroup label="Sul">
				<md-option ng-value="estado" ng-repeat="estado in estados | filter: {regiao: 'sul' }">{{estado.name}}</md-option>
		    </md-optgroup>
		</md-select> -->
		 		
		<md-select ng-model='chart.categoria' placeholder='Atividade' class='md-padding' ng-change='listCity(chart.categoria)' >
			<md-option ng-repeat='categoria in categorias | orderBy: "id"' ng-value='categoria'>{{categoria.id}} - {{categoria.nome}}</md-option>
		</md-select>

		<md-select ng-model='chart.subCategoria' placeholder='Detalhe' class='md-padding'>
			<md-option ng-repeat='subcategoria in subCategorias | orderBy: "id"' ng-value='subcategoria'>{{subcategoria.nome}}</md-option>
		</md-select>

		<md-button class='md-raised md-primary' type='submit'>Enviar</md-button>

		<hr />
		<br />

		<div>
			<chart1></chart1>
			<!-- <chart1></chart1> -->
		</div>


	</form>
</md-content>


