
<div class="modal-dialog">
  <div class="modal-content" layout-padding >
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div layout='row' flex='25'>
        <h4 class="modal-title" id="loginModalTitle" >
          <img src='images/ibama-logo.png' height="30" width="30">
          <img src='images/ctf.png' height="30" width="80" >
        </h4>
      </div>
    </div>

    <div class="modal-body">

      <div ng-if='error' class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>{{errorLogin}}</strong> 
      </div>

      <form ng-submit='acessar(access)'>

        <md-input-container flex>
          <label>Usuário</label>
          <input ng-model="access.login">
        </md-input-container>

        <md-input-container flex>
          <label>Senha</label>
          <input type='password' ng-model="access.password" >
        </md-input-container>

        <md-container layout='row' flex>
            <md-progress-circular 
              md-mode="indeterminate"  
              class="md-hue-2"
              layout="column" 
              ng-if='login.carregar'>
            </md-progress-circular >
            <div layout="column" flex offset="50">
              <md-button 
                class="md-raised md-primary" 
                type='submit'>
                  enviar
              </md-button>
            </div>
        </md-container>
        <hr>
        <div class="control-group ">
          <h4>Acesso Restrito</h4>
          <p>O acesso a este sistema é permitido somente a usuários registrados no sistema Ibama-Net.</p>
        </div>
      </form>
    </div>
  </div>
</div>