<!-- 
<md-content id='chart'>
	<md-content class='panel panel-danger'>
	    <div class='panel-heading text-center' layout='row'>

	    	<div class='panel-title' flex>{{name}}</div>

            <a class="export-button" ng-if="export" href="{{export}}" download="{{describe}}">
                <i class="glyphicon glyphicon-save"></i>
                CSV
            </a>

	    </div>
        <md-content class='panel-body' style="width: 50%; height: auto; margin:auto" >
			<canvas 
				class='chart-pie'
				data='data'
				labels='labels'
				legend='true'
				options='options'>
			</canvas>
		</md-content>
	</md-content>
</md-content>
 -->
<md-content class='padding' ng-if="data">
	<div class="line">
		<p class="title"><strong>{{name}}</strong></p>
		<a class="export" ng-if='export' href="{{export}}" download="{{describe}}" target="_blank">
            <i class="glyphicon glyphicon-save"></i>
            CSV
        </a>
	</div>

    <md-content class='panel-body' style="width: 50%; height: auto; margin:auto" >
		<canvas 
			class='chart-pie'
			data='data'
			labels='labels'
			legend='true'
			options='options'>
		</canvas>
	</md-content>

</md-content>