

<div class="sidenav-alert-container">
    <div ng-if='filter.error' class="sidenav-alert alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>{{filter.errorMessage}}</strong>
    </div>
</div>

<md-button class="sidenav-toggle-button md-raised" ng-click="toggleRight()">
    <i class='glyphicon glyphicon-list-alt'></i> Filtro
</md-button>

<md-sidenav class="md-sidenav-right md-whiteframe-z2 md-padding" md-component-id="right" layout='column'>


    <md-subheader class="md-primary">Selecione os parâmetros de pesquisa:</md-subheader>

    <form ng-submit='requestPoints(filter)' id='formSide' novalidate name='points'>

        <md-select ng-model="filter.estado" placeholder="Estado" ng-change='getMunicipios(filter.estado)' layout='row' required>
            <md-optgroup label="Norte">
                <md-option ng-value="estado" ng-repeat="estado in estados | filter: {regiao: 'norte' }" >{{estado.nome}}</md-option>
            </md-optgroup>
            <md-optgroup label="Nordeste">
                <md-option ng-value="estado" ng-repeat="estado in estados | filter: {regiao: 'nordeste' }">{{estado.nome}}</md-option>
            </md-optgroup>
            <md-optgroup label="Centro-Oeste">
                <md-option ng-value="estado" ng-repeat="estado in estados | filter: {regiao: 'centro' }">{{estado.nome}}</md-option>
            </md-optgroup>
            <md-optgroup label="Sudeste">
                <md-option ng-value="estado" ng-repeat="estado in estados | filter: {regiao: 'sudeste' }">{{estado.nome}}</md-option>
            </md-optgroup>
            <md-optgroup label="Sul">
                <md-option ng-value="estado" ng-repeat="estado in estados | filter: {regiao: 'sul' }">{{estado.nome}}</md-option>
            </md-optgroup>
        </md-select>

        <md-select  placeholder="Municípios" ng-disabled="!filter.estado" ng-model="filter.municipio"  layout='row' required>
            <md-option ng-repeat="municipio in municipios | orderBy: 'nome'" ng-value='municipio'>
                {{municipio.nome}}
            </md-option>
        </md-select>

        <md-select ng-model='filter.categoria' placeholder='Categoria'  layout='row' required ng-change='filter.subcategoria = null'>
            <md-option ng-repeat='categoria in categorias | orderBy: "id"' ng-value='categoria'>{{categoria.id}} - {{categoria.nome}}</md-option>
        </md-select>

        <md-select ng-model='filter.subcategoria' placeholder='Atividade' layout='row' ng-disabled='!filter.categoria.subcategorias'>
            <md-option value=''>Todos</md-option>
            <md-option ng-repeat='subcategoria in filter.categoria.subcategorias | orderBy: "codigo"' ng-value='subcategoria'>{{subcategoria.codigo}} - {{subcategoria.nome}}</md-option>
        </md-select>

        <md-select ng-model='filter.ano' placeholder='Ano' placeholder="Ano (obrigatório)" layout='row'>
            <md-option ng-repeat='ano in anos' ng-value='ano'>{{ano}}</md-option>
        </md-select>

        <br/>
        <md-content layout-padding layout-align='center' layout='row'>
            <a class="md-button md-raised md-warn" ng-click="toggleRight()">Cancelar</a>
            <md-button 
                type='submit' 
                class="md-raised md-primary"
                layout-align='center' 
                ng-disabled='points.$invalid || filter.carregar || !filter.municipio || !filter.ano'>
                    Pesquisar
            </md-button>
        </md-content>
    </form>
</md-sidenav>
