<topbar></topbar>
<md-content layout="row" id="statsContent">
  <md-sidenav class="md-sidenav-left md-whiteframe-z2" 
    md-component-id="left" 
    md-is-locked-open="$mdMedia('gt-md')" 
    md-scroll-y>
      <md-content layout-padding> 
        <filter></filter>
     </md-content>
  </md-sidenav>
  <button 
    type="button" 
    ng-click="toggleSidenav()"
    class="btn no-border" 
    hide-gt-md>
    <a 
      id="thisButton"
      class="glyphicon glyphicon-chevron-right no-margin"
      ctf-popover 
      popover-placement='right' 
      popover-content="Selecione os filtros" 
      popover-container="#thisButton" 
      popover-trigger="hover"
      popover-show="true"
      >
    </a>
  </button>
  
  <tabset justified="true" type="pills" flex resizable>

    <tab heading="Atividades" select='defineRequest("atividades")' disable='loading' 

      ctf-popover
      popover-content="Informações sobre as atividades: número de pessoas jurídicas inscritas,
      atividades mais frequentes e distribuição geográfica" 
      popover-container="#statsContent"
      popover-placement="bottom">
      <atividades ></atividades>
    </tab>
    
    <tab heading="Pessoas Jurídicas"  select='defineRequest("empresas")' disable='loading' 
      ctf-popover  
      popover-placement='bottom' 
      popover-content="Informações sobre pessoas jurídicas: porte, certificado de regularidade
      e distribuição geográfica" 
      popover-container="#statsContent">
      <empresas ></empresas>
    </tab>
    
    <tab heading="Inscrições" select='defineRequest("inscricoes")' disable='loading'
      ctf-popover  
      popover-placement='bottom' 
      popover-content="Informações sobre as inscrições: no ano selecionado, acumulado
      até o ano selecionado e série histórica" 
      popover-container="#statsContent"
      popover-trigger="hover">
      <inscricoes ></inscricoes>
    </tab> 
  </tabset>
</md-content>

