<topbar></topbar>
<md-content layout="row" id="statsContent">
  <md-sidenav class="md-sidenav-left md-whiteframe-z2" 
    md-component-id="left" 
    md-is-locked-open="$mdMedia('gt-md')" 
    md-scroll-y>
      <md-content layout-padding> 
        <filter></filter>
     </md-content>
  </md-sidenav>
  <button 
    type="button" 
    ng-click="toggleSidenav()"
    class="btn no-border" 
    hide-gt-md>
    <a 
      id="thisButton"
      class="glyphicon glyphicon-chevron-right no-margin"
      ctf-popover 
      popover-placement='right' 
      popover-content="Selecione os filtros" 
      popover-container="#thisButton" 
      popover-trigger="focus"
      popover-show="true"
      >
    </a>
  </button>
  
  <tabset justified="true" type="pills" flex resizable>

    <tab heading="Atividades" select='defineRequest("atividades")' disable='loading' 

      ctf-popover
      popover-content="Informações sobre as atividades: número de pessoas jurídicas inscritas,
      atividades mais frequentes e distribuição geográfica" 
      popover-container="#statsContent"
      popover-placement="bottom">
      <atividades ></atividades>
    </tab>
    
    <tab heading="Pessoas Jurídicas"  select='defineRequest("empresas")' disable='loading' 
      ctf-popover  
      popover-placement='bottom' 
      popover-content="Informações sobre pessoas jurídicas: porte, certificado de regularidade
      e distribuição geográfica" 
      popover-container="#statsContent">
      <empresas ></empresas>
    </tab>
    
    <tab heading="Inscrições" select='defineRequest("inscricoes")' disable='loading'
      ctf-popover  
      popover-placement='bottom' 
      popover-content="Informações sobre as inscrições: no ano selecionado, acumulado
      até o ano selecionado e série histórica" 
      popover-container="#statsContent"
      popover-trigger="hover">
      <inscricoes ></inscricoes>
    </tab> 
  </tabset>

  <!-- Modal anoDescriptionLabel -->
  <div class="modal" id="anoDescription" tabindex="-1" role="dialog" aria-labelledby="anoDescriptionLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <!-- <h4 class="modal-title">Definição do campo "Ano"</h4> -->
          <md-content layout-padding>
            O campo "Ano" contribui de forma diferente nos resultados das pesquisas,
            a depender da Aba considerada, conforme tabela abaixo:
          </md-content>

        </div>
        <div class="modal-body">
          <table class="table table-hover table-responsive table-bordered">
            <tr>
              <th>Aba</th>
              <th>Relação entre o campo "Ano" e os resultados das pesquisas</th>
            </tr>
            <tr>
              <td><i>Atividades</i></td>
              <td>Atividades dedicadas pelas pessoas jurídicas no <b>ano selecionado</b></td>
            </tr>
            <tr>
              <td><i>Pessoas Jurídicas</i></td>
              <td>Pessoas jurídicas que se dedicam a atividades <b>no ano selecionado</b></td>
            </tr>
            <tr>
              <td><i>Inscrições</i></td>
              <td>Pessoas jurídicas inscritas no CTF/APP <b>no ano ou até o ano selecionado</b>, de acordo com o gráfico analisado</td>
            </tr>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
</md-content>